.footer {
    display: flex;
    flex-direction: column;
    text-align: center; 
    bottom: 0;
}

.footer a {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    line-height: 3;
}